
body{
    background-color: beige;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
   
}
.sizeBtn{
    display: flex;
    align-self: center;
    font-size: 10px;
    height: auto;
    width:5em;
    text-align: center;
}
.containerDiv{
   
    width: 90vw;
    height: 60%;
    display: flex;
    flex:1;
    flex-direction: column;
    
    
    
}
.horizontalContainer{
    display: flex;
    flex:1;
    flex-direction: row;
    justify-self: center;
    width:100%;
    /*height set in JS to dynamically adjust to resizing grid */
    }

.gridElements{
    display: flex;
    flex:1;
    border:1px solid black;
    /*width & height set in JS to dynamically adjust to resizing grid */
}

.hover{
    background-color: grey;
}