
body{
    background-color: #f6f6eb;
    display:flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
   
}

.btnContainer{
    height: auto;
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.colorSelect{
    height: auto;
    display: flex;
    justify-content: flex-start;   
}
.sizeBtn{
    
    display: flex;
    align-self: center;
    font-size: 10px;
    height: auto;
    width:5em;
    text-align: center;
}
.paintColor{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.containerDiv{
   
    width: 90vw;
    height: auto;
    display: flex;
    flex:1;
    flex-direction: column;
    
    
    
}
.horizontalContainer{
    display: flex;
    flex:1;
    flex-direction: row;
    justify-self: center;
    
    /*height set in JS to dynamically adjust to resizing grid */
    }

.gridElements{
    display: flex;
    flex:1;
    border:1px solid black;
    /*width & height set in JS to dynamically adjust to resizing grid */
}

.hover{
    background-color: grey;
}